body {
	font-family: Trebuchet ms;
	color: #191970;
	font-size: 20px;
    padding: 20px;
}
html {
	background-image: url('http://www.wallpaperup.com/uploads/wallpapers/2013/01/11/28869/d4a940fd7784976fc4f9fa7d15a98aa8.jpg');
}

h1 {
	font-family: Trebuchet ms;
	color: #191970;
	font-size: 60px;
    margin-top:20px;
    margin-left: 20px;
    padding: 5px;
    display: inline-block;
}

div {
    display: centre;
    padding: 10px;
}
h2 {
	font-family: Trebuchet ms;
	color: #191970;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
}
.transparent {
    background: rgba(176, 196, 222, 0.75);
}