body {
	font-family: Trebuchet ms;
	color: #4169E1;
	background-color: LightGray
}
h1 {
	font-family: Trebuchet ms;
	color: #191970;
	font-size: 24px;
}

h2 {
	font-family: Trebuchet ms;
	color: #191970;
}