/* nav bar */

.nav {
  list-style-type: none;
  letter-spacing: 1.5px;
  background-color: SteelBlue;
  padding: 10px 0 10px 0;
  text-align: right;
}

.nav > li {
  display: inline;
  font-size: 20px;
  padding: 0 25px 0 0;
  color: rgb(238, 223, 204);
  font-family: t"Trebuchet ms", "Helvetica", "Arial";
}

.nav > li > a {
  text-decoration: none;
  color: rgb(238, 223, 204);
  font-family: "Trebuchet ms", "Helvetica", "Arial";
}

.nav > li > a:hover {
  color: LightSteelBlue;
}

.logo {
 color:rgb(238, 223, 204);
 display: inline;
 text-align: left;
 float: left;
 padding-left: 25px;
 font-size: 20px;
 font-weight: bold;
font-family: trebuchet ms;
}

.logo > li > a {
  text-decoration: none;
  color:rgb(238, 223, 204);
}

/* end of nav bar info*/



/* home page p tags*/

.headers {
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  color: SteelBlue;
  font-family: "Trebuchet ms", "Helvetica", "Arial";
}
a {
  text-decoration: none;
  text-align: center;
  color: SteelBlue;
}

/* Body on home page*/

.main-body {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: "Trebuchet ms", "Helvetica", "Arial";
  padding: 0;
  margin: 0;
}

/* applies to all pages */

.container {
  text-align: center;
  width: 90%;
  background-color: rgba( 238, 223, 204, 0.8);
  font-size: 30px;
  padding: 0 10px 0px 0px;
  font-weight: bold;
  font-family: "Trebuchet ms", "Helvetica", "Arial";
}


.row {
  text-align: center;
}

div {
  display: block;
}

div > hr {
  border-color: #D3D3D3;
  border-width: 1px;
  max-width: 80%
}

.image {
  width: 430px; height:300px;
  padding: 10px;
  margin: 10px;
}

/*footer */

.footer {
  letter-spacing: 1.5px;
  background-color: #eeeeee;
  text-align: right;
  margin: 0;
  padding: 20px 0 20px 0;
  height: 2em;
  width: 100%;
  color: #B0C4DE; /*light steel blue*/
}

.footer > p {
  font-size: 14px;
  text-align: right;
  padding-right: 25px;
  font-color: #B0C4DE;
  font-family: "Trebuchet ms", "Helvetica", "Arial";
}
/* wire frames in design to web */

.wireframes {
  width: 168px; height: 222px;
  display: inline-block;
  max-width: 100%;
  float: center;
  vertical-align: middle;
  margin: 0 0 20px 0;
  padding: 0;
}
.wireframes1 {
  width: 222px; height: 168px;
  display: inline-block;
  max-width: 100%;
  transform: rotate(270deg);
  float: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;

}

/* blog pages */

h5 {
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  font-family: "Trebuchet ms", "Helvetica", "Arial";
}

p {
  font-size: 16px;
  text-align: left;
  padding-left: 15px;
  font-family: "Trebuchet ms", "Helvetica", "Arial";
}
.blogs {
  width: 80%;
  font-family: "Trebuchet ms", "Helvetica", "Arial";
  margin-right: auto;
  margin-left: auto;
}

/* blog pages */
/*wishlist*/

.wishlist {
  font-size: 16px;
  text-align: left;
  padding-left: 15px;
}
